<!-- Begin Nav Section -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/">Home</a></li>
                <li><a href="#/search">Search Cereals</a></li>
                <li><a href="#/login" ng-hide="{{cookie}}">Log In</a></li>
                <li><a href="#/signup" ng-hide="{{cookie}}">Sign Up</a></li>
                <!-- ng hide if cookies exist -->
                <li ng-click="logout()"><a href="#/">Log Out</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- End Nav Section -->

<!-- Begin Container Div -->
<div class="container">
    <h1>Rate {{rateCereal.name}}</h1>

    <form name="rateForm" ng-submit="newRating(rateCereal)">
        <div class="row col-sm-6 col-md-4 col-lg-3">
          <label>Cereal Name</label>
            <input type="hidden" name="name" placeholder="rateCereal.name" value="rateCereal.name" class="form-control" ng-model="rateCereal.name">

            <label>Favorite</label>
            <input type="hidden" name="favorite" placeholder="rateCereal.favorite" value="rateCereal.favorite" class="form-control" ng-model="rateCereal.favorite">

            <label>Flavor</label>
            <select class="form-control" name="flavor" ng-model="rateCereal.flavor" ng-required="true">
                    <option value="" disabled>Choose something</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>

            <label>Texture</label>
            <select class="form-control" name="texture" ng-model="rateCereal.texture" ng-required="true">
                    <option value="" disabled>Choose something</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>

            <label>Flavor of leftover Milk</label>
            <select class="form-control" name="milkFlavor" ng-model="rateCereal.milkFlavor" ng-required="true">
                    <option value="" disabled>Choose something</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>

            <label>Coolness of the Box</label>
            <select class="form-control" name="box" ng-model="rateCereal.box" ng-required="true">
                    <option value="" disabled>Choose something</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>


            <br>
            <button type="submit" name="button" class="btn btn-primary">Submit Rating</button>
        </div>
    </form>

</div>
<!-- End Container Div -->
