<!-- Begin Nav Section -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/">Home</a></li>
                <li class="active"><a href="#/search">Search Cereals<span class="sr-only">(current)</span></a></li>
                <li><a href="#/login" ng-hide="{{cookie}}">Log In</a></li>
                <li><a href="#/signup" ng-hide="{{cookie}}">Sign Up</a></li>
                <!-- ng hide if {{cookie}}s exist -->
                <li ng-click="logout()" ng-show="{{cookie}}"><a href="#/">Log Out</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- End Nav Section -->

<!-- Begin Container Div -->
<div class="container">

    <h1>Cereal Killer</h1>

    <!-- Begin search form -->
    <form name="cerealSearchForm" ng-submit="search(cerealName)">
        <div class="form-group">
            <input type="text" class="form-control" name="cerealForm" id="cerealForm" placeholder="Search for your cereal here" ng-model="cerealName" ng-required="true">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <!-- End search form -->
    <div ng-hide="!overallScore">
        <div ng-hide="!overallScore" class="rateCerealBtn">
            <!-- {{name}} -->
            <a href="/#/rate" ng-show="{{cookie}}"><button type="button" class="btn btn-primary">Rate this cereal</button></a>
            <!-- <a href="#" ng-show="{{cookie}}"><button type="button" class="btn btn-success">Add to Favorites</button></a> -->
        </div>
        <div class='signInToRate' ng-hide="{{cookie}}">{{signInToRate}}</div>
        <div id="ratingChart" class="col-sm-12 col-md-12 col-lg-12"></div>
    </div>

    <!-- fix this to disappear after searched for a cereal in db -->
    <div ng-show="addCereal">
        <div ng-hide="{{cookie}}">{{msg}}</div>
        <div ng-show="{{cookie}}">{{signedInMsg}}</div>
        <a href="#/rate" ng-show="{{cookie}}"><button type="button" class="btn btn-primary">{{addCereal}}</button></a>
    </div>

</div>
<!-- End Container Div -->
